
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Transactions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

    <ion-card *ngFor="let t of Transactions ">

         
      
            

      
       
            <ion-item>
                <p>{{converttimestamp(t.timestamp)}}</p>  
                  <ion-badge *ngIf="t.debit > 0" color="danger" item-end>${{t.debit}}</ion-badge>
                  <ion-badge *ngIf="t.credit > 0" color="secondary" item-end>${{t.credit}}</ion-badge>
                  <ion-badge *ngIf="t.type=='DI'" color="primary" item-end>${{t.amount}}</ion-badge>
  
                </ion-item>
                <ion-card-content>            <p>{{t.narration}}</p>
                </ion-card-content>
      </ion-card>

</ion-content>
