
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Transactions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

    <ion-card *ngFor="let t of Transactions ">

         
      
            

      
       
            <ion-item>
                <p><b>{{converttimestamp(t.timestamp)}}</b></p>  
                  <p *ngIf="t.debit > 0" style="color:#f53d3d" item-end> <b>${{t.debit}}</b></p>
                  <p *ngIf="t.credit > 0" style="color:green" item-end> <b>${{t.credit}}</b></p>
                  <p *ngIf="t.type=='DI'" style="color:#080808" item-end>  <b>${{t.amount}}</b></p>
  
                </ion-item>
                <ion-card-content>            <p>{{t.narration}}</p>
                </ion-card-content>
      </ion-card>

</ion-content>
