
<ion-header>

  <ion-navbar>
    <ion-title>bitcoinpayment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-card>
        <ion-item>
            <p  item-start large> <b>Amount  </b></p>
            <p item-end> <ion-badge  color="secondary" >${{amt}}</ion-badge></p>
          </ion-item>
    <ion-item>
        <p  item-start large> <b>Pay </b></p>
        <p item-end> <ion-badge  color="secondary" >{{btcpayment}} BTC</ion-badge></p>
      </ion-item>

      <ion-item>
          <p  item-start large> <b>Address</b></p>
          <p item-end> <ion-badge  color="secondary" >{{paymentaddress}} </ion-badge></p>
        </ion-item>

        <ion-item>
            <p  item-start large> <b>Payment status </b></p>
            <p item-end  *ngIf="paymentstate" > <ion-badge   color="secondary" >Success </ion-badge></p>
            <p item-end  *ngIf="!paymentstate" > <ion-badge   color="secondary" >Waiting </ion-badge></p>
            <p item-end  *ngIf="paymenterror" > <ion-badge   color="secondary" >Error</ion-badge></p>

          </ion-item>

</ion-card>

<ion-card>
    <div  id="qrcode"></div>

</ion-card>

</ion-content>
