
<ion-header>

  <ion-navbar>
    <ion-title>bitcoinpayment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


    <ion-item>
        <p  item-start large> <b>Pay </b></p>
        <p item-end> <ion-badge  color="secondary" >{{btcpayment}} BTC</ion-badge></p>
      </ion-item>

      <ion-item>
          <p  item-start large> <b>To address </b></p>
          <p item-end> <ion-badge  color="secondary" >{{paymentaddress}} </ion-badge></p>
        </ion-item>

        <ion-item>
            <p  item-start large> <b>Payment status </b></p>
            <p item-end  *ngIf="proof" > <ion-badge   color="secondary" >Success </ion-badge></p>
            <p item-end *ngIf="proof" > <ion-badge  color="secondary" > Failure </ion-badge></p>
            <p item-end  *ngIf="proof" > <ion-badge   color="secondary" >Waiting </ion-badge></p>

          </ion-item>



</ion-content>
